{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}



{% block body %}
{{ parent() }}

 <!-- LAST ARTCLES -->
    {{ render(controller(
        'App\\Controller\\ArticleController::index'
    )) }}

    <div class="newsletter-from" id="newsletter-form">
        {{ include('newsletter/_form_newsletter_register.html.twig') }}
    </div>

{% endblock %}
