{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Article index{% endblock %}

{% block content_body %}
    <h1>Article index</h1>


        {{ render(controller(
            'App\\Controller\\ArticleController::getListArticle'
        ))  }}



    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
